{% extends 'admin.html.twig' %}
{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active">Item 1</a>
          <a href="#" class="list-group-item list-group-item-action">Item 2</a>
          <a href="#" class="list-group-item list-group-item-action">Item 3</a>
        </div>
      </div>
      <div class="col-md-9">
        <h2>Content</h2>
      </div>
    </div>
  </div>